{% extends "base.html" %}

{% block title %}Usuń aktywo - SZBI{% endblock %}

{% block content %}
<h2>Usuwanie aktywa</h2>

<p>Czy na pewno chcesz usunąć aktywo <strong>{{ object.designation }} - {{ object.name }}</strong>?</p>

<p class="alert-text-danger">Ta operacja jest nieodwracalna!</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn-danger">Tak, usuń</button>
    <a href="{% url 'assets:detail' object.pk %}" class="btn btn-outline">Anuluj</a>
</form>
{% endblock %}
